<div class="relative flex flex-col items-center justify-center w-full h-[600px] overflow-hidden">
    <img src="../../static/images/python-3d.png" alt="Background Image"
        class="absolute w-[485.22px] h-[547.25px] left-[133.58px] rotate-[11.34deg] opacity-30 blur-[40px] z-0 animate-scaleDown" />

    <div class="z-10 flex flex-col items-center gap-10 p-6 sm:gap-20 md:p-28">
        <div class="flex flex-col items-center w-full gap-8"> <!-- Increased gap between elements -->
            <div class="text-lg font-medium text-center text-yellow-300 uppercase">
                <p
                    class="text-xl font-extrabold text-center text-base-content sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl">
                    What are you waiting for? <br>
                    <span class="text-2xl text-yellow-500 sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl">Join us
                        now.</span>
                </p>
            </div>
            <p class="w-full text-sm text-center dark:text-gray-300 sm:w-3/4 sm:text-base md:text-lg">
                Begin your journey into the wonderful world of Cebu, Python, and Pizza!
            </p>

            <div class="grid w-full gap-6 px-4 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 sm:px-0">
                <!-- Adjusted gap between buttons -->
                <a href="https://www.facebook.com/groups/pizzapy.ph/" target="_blank" rel="noopener noreferrer"
                    class="z-20 flex items-center justify-center w-full px-6 py-3 text-sm font-medium text-white transition duration-150 ease-in-out bg-indigo-600 border border-transparent rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-opacity-50">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5 mr-2 fill-current">
                        <use xlink:href="../../static/css/icons.svg#facebook"></use>
                    </svg>
                    Follow us on Facebook
                </a>
                <a href="https://www.meetup.com/pizzapy-ph/" target="_blank" rel="noopener noreferrer"
                    class="z-20 flex items-center justify-center w-full px-6 py-3 text-sm font-medium text-gray-900 transition duration-150 ease-in-out bg-gray-300 border border-gray-300 rounded-lg hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 dark:text-white dark:bg-gray-700 dark:border-gray-700 dark:hover:bg-gray-800">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5 mr-2 fill-current">
                        <use xlink:href="../../static/css/icons.svg#meetup"></use>
                    </svg>
                    Join us on Meetup
                </a>
                <a href="https://discord.gg/nt9grSKsWN" target="_blank" rel="noopener noreferrer"
                    class="z-20 flex items-center justify-center w-full px-6 py-3 text-sm font-medium text-white transition duration-150 ease-in-out bg-purple-600 border border-transparent rounded-lg hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-700 focus:ring-opacity-50">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48"
                        class="w-5 h-5 mr-2 fill-current">
                        <path fill="#8c9eff"
                            d="M40,12c0,0-4.585-3.588-10-4l-0.488,0.976C34.408,10.174,36.654,11.891,39,14c-4.045-2.065-8.039-4-15-4s-10.955,1.935-15,4c2.346-2.109,5.018-4.015,9.488-5.024L18,8c-5.681,0.537-10,4-10,4s-5.121,7.425-6,22c5.162,5.953,13,6,13,6l1.639-2.185C13.857,36.848,10.715,35.121,8,32c3.238,2.45,8.125,5,16,5s12.762-2.55,16-5c-2.715,3.121-5.857,4.848-8.639,5.815L33,40c0,0,7.838-0.047,13-6C45.121,19.425,40,12,40,12z M17.5,30c-1.933,0-3.5-1.791-3.5-4c0-2.209,1.567-4,3.5-4s3.5,1.791,3.5,4C21,28.209,19.433,30,17.5,30z M30.5,30c-1.933,0-3.5-1.791-3.5-4c0-2.209,1.567-4,3.5-4s3.5,1.791,3.5,4C34,28.209,32.433,30,30.5,30z">
                        </path>
                    </svg>
                    Join us on Discord
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    @keyframes scaleDown {
        from {
            transform: scale(1.5) rotate(11.34deg);
        }

        to {
            transform: scale(1) rotate(11.34deg);
        }
    }
</style>
