<div class="flex flex-col items-center justify-center w-screen min-h-screen gap-2 p-4 sm:gap-4 sm:p-6 md:gap-20 md:p-24"
    id="mainContainer">
    <p class="text-6xl font-extrabold text-center text-white shadow-sm">Countdown to the Big Event!</p>

    <div class="flex flex-col w-full gap-3 sm:flex-row sm:flex-wrap sm:justify-center sm:gap-5" id="countdownContainer">
        <!-- Dynamic countdown content will be here -->
    </div>
    <script src="../../static/script/countdown.js"></script>
</div>